body{
    background-color:#353535;
    color: white;
    font-family: sans-serif;
}
.paragrafo-externo{
    color: green;
    background-color: lightgreen;margin-bottom: 15px;
    font-size: 1.1em;
    font-weight: 500;
}
#secao-externa{
    background-color: #837d7d;
    border-left: 5px solid darkred;
    margin-top: 20px;
    border-left: #2913cd;
    box-shadow: 4px rgb(171, 171, 255);
}
h1{
    color: rgb(118, 18, 118);
}
h2{
    color: #2913cd;
    text-transform: capitalize;
    text-shadow: 1px;
}
p{
    color: orange;
}
.caixa-destaque{
    background-color: rgb(104, 104, 104);
    border: solid 2px rgb(0, 0, 0);
    padding: 15px;


}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;

}
#secao-externa{
    border-radius: 10px;
    background-color: #9ae4f8;
}
a{
    color: rgb(113, 113, 226);
    text-decoration: none;
    transition: color 0.3s ;

}
a:hover{
    color: aqua;
    text-align: center;
}

